@model OkVip.ManagementDataMarketing.Models.ViewModels.Authentication.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi Password";
    ViewBag.pTitle = "Đổi Password";
    ViewBag.pageTitle = "Đổi Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

}


<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4">
            <partial name="_TempDataErrorPartial" />
            <div class="card-body p-4">
                <div class="card-header align-items-center d-flex">

                    <h3 class="card-title mb-0 flex-grow-1">Đổi Password</h3>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ggauth">
                        <span class="badge badge-soft-secondary"><i class="ri-key-2-line"></i> Google Authenticator</span>
                    </a>
                    <div id="ggauth" class="modal fade" tabindex="-1" aria-labelledby="ModalLabel_ggauth" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel_ggauth">Google Authenticator</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center">
                                        <img src="@Model.QrCode" style="height:100%;" />
                                    </div>
                                    <br />
                                    <div class="text-center">
                                        Mã Dự Phòng: <label>@Model.ManualEntryKey</label>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->



                </div>

                <div class="p-2">
                    <form asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="OldPassword"></label>
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mt-4">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-success w-100" type="submit">Đổi password</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
</div>


@section scripts{


}